In [56]:
import pandas as pd
import csv

In [57]:
county_df = pd.read_csv("Raw Data/county_statistics.csv", encoding="utf-8")
county_df.head(100)

,Unnamed: 0,county,state,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,Abbeville,SC,0.629,0.346,10724.0,6742.0,3712.0,0.661,0.330,...,1.8,1.8,6.5,25.8,9505.0,78.8,13.3,7.8,0.1,9.4
1,1,Acadia,LA,0.773,0.206,27386.0,21159.0,5638.0,0.795,0.191,...,1.6,2.2,2.5,27.6,24982.0,80.0,12.1,7.6,0.3,8.9
2,2,Accomack,VA,0.545,0.428,15755.0,8582.0,6737.0,0.542,0.447,...,2.6,1.8,4.5,22.0,13837.0,74.6,18.1,7.1,0.2,5.4
3,3,Ada,ID,0.479,0.387,195587.0,93748.0,75676.0,0.504,0.465,...,1.5,2.8,6.9,20.4,214984.0,78.3,15.0,6.6,0.1,4.3
4,4,Adair,IA,0.653,0.300,3759.0,2456.0,1127.0,0.697,0.286,...,2.8,0.4,6.2,22.3,3680.0,73.8,15.3,10.4,0.5,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,Atchison,MO,0.756,0.199,2723.0,2059.0,541.0,0.781,0.200,...,3.7,0.5,3.5,17.9,2666.0,75.1,17.0,7.7,0.2,4.1
96,96,Athens,OH,0.387,0.557,27941.0,10816.0,15552.0,0.418,0.565,...,13.7,1.9,4.5,20.2,27434.0,65.9,29.2,4.7,0.2,8.7
97,97,Atkinson,GA,0.719,0.267,2604.0,1873.0,696.0,0.729,0.261,...,2.2,2.2,1.2,22.9,3289.0,82.8,11.6,5.6,0.0,8.4
98,98,Atlantic,NJ,0.453,0.515,105738.0,47882.0,54472.0,0.462,0.523,...,3.5,2.9,2.5,24.2,127737.0,79.6,15.7,4.7,0.1,10.9
99,99,Atoka,OK,0.813,0.159,5002.0,4068.0,795.0,0.846,0.142,...,3.1,0.9,5.4,25.3,4664.0,68.3,22.2,9.2,0.4,6.6

In [58]:
cleaner_df = county_df.drop(['percentage16_Donald_Trump', 'percentage16_Hillary_Clinton', 'votes16_Donald_Trump', 'votes16_Hillary_Clinton', 'percentage20_Donald_Trump', 'percentage20_Joe_Biden', 'Unemployment', 'FamilyWork', 'SelfEmployed', 'PublicWork', 'PrivateWork', 'Employed', 'MeanCommute', 'WorkAtHome', 'OtherTransp', 'Walk', 'Poverty', 'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit', 'lat', 'long', 'IncomePerCapErr', 'IncomePerCap', 'Income', 'IncomeErr', 'Unnamed: 0'], axis=1)
cleaner_df.head()

,county,state,total_votes16,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,VotingAgeCitizen
0,Abbeville,SC,10724.0,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,12744.0,1.3,68.9,27.6,0.1,0.3,0.0,19452.0
1,Acadia,LA,27386.0,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,32174.0,2.4,77.5,17.6,0.1,0.1,0.0,45197.0
2,Accomack,VA,15755.0,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,16761.0,8.8,60.3,28.3,0.3,0.7,0.0,24408.0
3,Ada,ID,195587.0,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,217118.0,7.9,85.2,1.2,0.4,2.6,0.1,316189.0
4,Adair,IA,3759.0,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,3640.0,1.7,96.6,0.3,0.0,0.4,0.0,5572.0

In [59]:
cleaner_df["county_st"]= cleaner_df["county"]+ ","+ cleaner_df["state"]
cleaner_df.head()

,county,state,total_votes16,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,VotingAgeCitizen,county_st
0,Abbeville,SC,10724.0,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,12744.0,1.3,68.9,27.6,0.1,0.3,0.0,19452.0,"Abbeville,SC"
1,Acadia,LA,27386.0,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,32174.0,2.4,77.5,17.6,0.1,0.1,0.0,45197.0,"Acadia,LA"
2,Accomack,VA,15755.0,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,16761.0,8.8,60.3,28.3,0.3,0.7,0.0,24408.0,"Accomack,VA"
3,Ada,ID,195587.0,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,217118.0,7.9,85.2,1.2,0.4,2.6,0.1,316189.0,"Ada,ID"
4,Adair,IA,3759.0,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,3640.0,1.7,96.6,0.3,0.0,0.4,0.0,5572.0,"Adair,IA"

In [60]:
cleaner_df['hispanic %'] = cleaner_df['Hispanic']/100

cleaner_df['white %'] = cleaner_df['White']/100

cleaner_df['black %'] = cleaner_df['Black']/100

cleaner_df['native %'] = cleaner_df['Native']/100

cleaner_df['asian %'] = cleaner_df['Asian']/100

cleaner_df['pacific %'] = cleaner_df['Pacific']/100

In [61]:
cleaner_df['hispanic_pop'] = round(cleaner_df['TotalPop'] * cleaner_df['hispanic %'])

cleaner_df['white_pop'] = round(cleaner_df['TotalPop'] * cleaner_df['white %'])

cleaner_df['black_pop'] = round(cleaner_df['TotalPop'] * cleaner_df['black %'])

cleaner_df['native_pop'] = round(cleaner_df['TotalPop'] * cleaner_df['native %'])

cleaner_df['asian_pop'] = round(cleaner_df['TotalPop'] * cleaner_df['asian %'])

cleaner_df['pacific_pop'] = round(cleaner_df['TotalPop'] * cleaner_df['pacific %'])

In [62]:
#add columns to calculate cases and deaths per 100K
cleaner_df["cases_per_100k"]= (cleaner_df["cases"]/cleaner_df["TotalPop"])*100000
cleaner_df["deaths_per_100k"]= (cleaner_df["deaths"]/cleaner_df["TotalPop"])*100000
cleaner_df

,county,state,total_votes16,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,...,asian %,pacific %,hispanic_pop,white_pop,black_pop,native_pop,asian_pop,pacific_pop,cases_per_100k,deaths_per_100k
0,Abbeville,SC,10724.0,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,...,0.003,0.000,322.0,17079.0,6841.0,25.0,74.0,0.0,3247.539132,68.581572
1,Acadia,LA,27386.0,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,...,0.001,0.000,1503.0,48520.0,11019.0,63.0,63.0,0.0,5082.498762,162.921079
2,Accomack,VA,15755.0,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,...,0.007,0.000,2890.0,19803.0,9294.0,99.0,230.0,0.0,3736.297199,57.856273
3,Ada,ID,195587.0,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,...,0.026,0.001,34374.0,370720.0,5221.0,1740.0,11313.0,435.0,4010.645413,41.598007
4,Adair,IA,3759.0,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,...,0.004,0.000,122.0,6947.0,22.0,0.0,29.0,0.0,3086.763070,13.904338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4862,Valdez-Cordova Census Area,AK,NaN,NaN,NaN,NaN,NaN,NaN,9439.0,4901.0,...,0.028,0.006,453.0,6626.0,9.0,1255.0,264.0,57.0,NaN,NaN
4863,Wrangell City and Borough,AK,NaN,NaN,NaN,NaN,NaN,NaN,2475.0,1280.0,...,0.031,0.000,79.0,1594.0,5.0,510.0,77.0,0.0,NaN,NaN
4864,Yakutat City and Borough,AK,NaN,NaN,NaN,NaN,NaN,NaN,682.0,366.0,...,0.054,0.013,38.0,298.0,6.0,193.0,37.0,9.0,NaN,NaN
4865,Yukon-Koyukuk Census Area,AK,NaN,NaN,NaN,NaN,NaN,NaN,5453.0,2936.0,...,0.007,0.000,115.0,1161.0,5.0,3839.0,38.0,0.0,NaN,NaN
4866,Doña Ana,NM,NaN,NaN,NaN,NaN,NaN,NaN,213849.0,105094.0,...,0.010,0.000,144776.0,59878.0,3422.0,1497.0,2138.0,0.0,NaN,NaN

In [63]:
cleaner_df.columns = map(str.lower, cleaner_df.columns)
dropped_df = cleaner_df.dropna(axis=0, subset=['total_votes16'])
dropped_df

,county,state,total_votes16,total_votes20,votes20_donald_trump,votes20_joe_biden,cases,deaths,totalpop,men,...,asian %,pacific %,hispanic_pop,white_pop,black_pop,native_pop,asian_pop,pacific_pop,cases_per_100k,deaths_per_100k
0,Abbeville,SC,10724.0,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,...,0.003,0.000,322.0,17079.0,6841.0,25.0,74.0,0.0,3247.539132,68.581572
1,Acadia,LA,27386.0,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,...,0.001,0.000,1503.0,48520.0,11019.0,63.0,63.0,0.0,5082.498762,162.921079
2,Accomack,VA,15755.0,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,...,0.007,0.000,2890.0,19803.0,9294.0,99.0,230.0,0.0,3736.297199,57.856273
3,Ada,ID,195587.0,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,...,0.026,0.001,34374.0,370720.0,5221.0,1740.0,11313.0,435.0,4010.645413,41.598007
4,Adair,IA,3759.0,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,...,0.004,0.000,122.0,6947.0,22.0,0.0,29.0,0.0,3086.763070,13.904338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,Yuma,AZ,40759.0,68427.0,35766.0,31562.0,13994.0,358.0,204281.0,104914.0,...,0.011,0.001,128493.0,64961.0,3677.0,1839.0,2247.0,204.0,6850.367876,175.248799
3107,Yuma,CO,4664.0,4885.0,4037.0,763.0,227.0,1.0,10109.0,5010.0,...,0.000,0.000,2285.0,7653.0,51.0,30.0,0.0,0.0,2245.523791,9.892175
3108,Zapata,TX,3134.0,3867.0,2032.0,1820.0,358.0,9.0,14415.0,7190.0,...,0.007,0.000,13565.0,750.0,0.0,0.0,101.0,0.0,2483.524107,62.434964
3109,Zavala,TX,3390.0,4379.0,1490.0,2864.0,470.0,19.0,12152.0,6163.0,...,0.000,0.000,11374.0,656.0,61.0,12.0,0.0,0.0,3867.676103,156.352864
3110,Ziebach,SD,766.0,906.0,404.0,481.0,108.0,2.0,2837.0,1421.0,...,0.010,0.000,11.0,664.0,0.0,2114.0,28.0,0.0,3806.838209,70.497004

In [64]:
final_df = dropped_df.drop(['total_votes16', 'hispanic', 'white', 'black', 'native', 'asian', 'pacific'], axis=1)
final_df

,county,state,total_votes20,votes20_donald_trump,votes20_joe_biden,cases,deaths,totalpop,men,women,...,asian %,pacific %,hispanic_pop,white_pop,black_pop,native_pop,asian_pop,pacific_pop,cases_per_100k,deaths_per_100k
0,Abbeville,SC,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,12744.0,...,0.003,0.000,322.0,17079.0,6841.0,25.0,74.0,0.0,3247.539132,68.581572
1,Acadia,LA,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,32174.0,...,0.001,0.000,1503.0,48520.0,11019.0,63.0,63.0,0.0,5082.498762,162.921079
2,Accomack,VA,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,16761.0,...,0.007,0.000,2890.0,19803.0,9294.0,99.0,230.0,0.0,3736.297199,57.856273
3,Ada,ID,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,217118.0,...,0.026,0.001,34374.0,370720.0,5221.0,1740.0,11313.0,435.0,4010.645413,41.598007
4,Adair,IA,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,3640.0,...,0.004,0.000,122.0,6947.0,22.0,0.0,29.0,0.0,3086.763070,13.904338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,Yuma,AZ,68427.0,35766.0,31562.0,13994.0,358.0,204281.0,104914.0,99367.0,...,0.011,0.001,128493.0,64961.0,3677.0,1839.0,2247.0,204.0,6850.367876,175.248799
3107,Yuma,CO,4885.0,4037.0,763.0,227.0,1.0,10109.0,5010.0,5099.0,...,0.000,0.000,2285.0,7653.0,51.0,30.0,0.0,0.0,2245.523791,9.892175
3108,Zapata,TX,3867.0,2032.0,1820.0,358.0,9.0,14415.0,7190.0,7225.0,...,0.007,0.000,13565.0,750.0,0.0,0.0,101.0,0.0,2483.524107,62.434964
3109,Zavala,TX,4379.0,1490.0,2864.0,470.0,19.0,12152.0,6163.0,5989.0,...,0.000,0.000,11374.0,656.0,61.0,12.0,0.0,0.0,3867.676103,156.352864
3110,Ziebach,SD,906.0,404.0,481.0,108.0,2.0,2837.0,1421.0,1416.0,...,0.010,0.000,11.0,664.0,0.0,2114.0,28.0,0.0,3806.838209,70.497004

In [65]:
countygeo_df = pd.read_csv("Raw Data/us_county_geojson.csv")
countygeo_df.head()

       county state_code                                        json_object
0  Lauderdale         AL  {"type": "Polygon", "coordinates": [[[-87.2541...
1   Limestone         AL  {"type": "Polygon", "coordinates": [[[-87.2541...
2     Madison         AL  {"type": "Polygon", "coordinates": [[[-86.7882...
3     Jackson         AL  {"type": "Polygon", "coordinates": [[[-86.3035...
4     Colbert         AL  {"type": "Polygon", "coordinates": [[[-87.4250...

In [66]:
merged_final_df = pd.merge(final_df, countygeo_df, how='left', left_on=['county', 'state'], right_on= ['county', 'state_code'])
final_county_df = merged_final_df.drop(['state_code'], axis=1)
final_county_df.to_csv('CleanData/county_data.csv')