In [17]:
import pandas as pd
import csv

In [18]:
county_df = pd.read_csv("Raw Data/county_statistics.csv", encoding="utf-8")
county_df.head()

,Unnamed: 0,county,state,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,Abbeville,SC,0.629,0.346,10724.0,6742.0,3712.0,0.661,0.330,...,1.8,1.8,6.5,25.8,9505.0,78.8,13.3,7.8,0.1,9.4
1,1,Acadia,LA,0.773,0.206,27386.0,21159.0,5638.0,0.795,0.191,...,1.6,2.2,2.5,27.6,24982.0,80.0,12.1,7.6,0.3,8.9
2,2,Accomack,VA,0.545,0.428,15755.0,8582.0,6737.0,0.542,0.447,...,2.6,1.8,4.5,22.0,13837.0,74.6,18.1,7.1,0.2,5.4
3,3,Ada,ID,0.479,0.387,195587.0,93748.0,75676.0,0.504,0.465,...,1.5,2.8,6.9,20.4,214984.0,78.3,15.0,6.6,0.1,4.3
4,4,Adair,IA,0.653,0.300,3759.0,2456.0,1127.0,0.697,0.286,...,2.8,0.4,6.2,22.3,3680.0,73.8,15.3,10.4,0.5,3.0

In [19]:
cleaner_df = county_df.drop(['percentage16_Donald_Trump', 'percentage16_Hillary_Clinton', 'total_votes16', 'votes16_Donald_Trump', 'votes16_Hillary_Clinton', 'percentage20_Donald_Trump', 'percentage20_Joe_Biden', 'Unemployment', 'FamilyWork', 'SelfEmployed', 'PublicWork', 'PrivateWork', 'Employed', 'MeanCommute', 'WorkAtHome', 'OtherTransp', 'Walk', 'Poverty', 'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit', 'lat', 'long', 'IncomePerCapErr', 'IncomePerCap', 'Income', 'IncomeErr', 'Unnamed: 0'], axis=1)
cleaner_df.head()

,county,state,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,VotingAgeCitizen
0,Abbeville,SC,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,12744.0,1.3,68.9,27.6,0.1,0.3,0.0,19452.0
1,Acadia,LA,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,32174.0,2.4,77.5,17.6,0.1,0.1,0.0,45197.0
2,Accomack,VA,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,16761.0,8.8,60.3,28.3,0.3,0.7,0.0,24408.0
3,Ada,ID,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,217118.0,7.9,85.2,1.2,0.4,2.6,0.1,316189.0
4,Adair,IA,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,3640.0,1.7,96.6,0.3,0.0,0.4,0.0,5572.0

In [20]:
cleaner_df["county_st"]= cleaner_df["county"]+ ","+ cleaner_df["state"]
cleaner_df.head()

,county,state,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,VotingAgeCitizen,county_st
0,Abbeville,SC,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,12744.0,1.3,68.9,27.6,0.1,0.3,0.0,19452.0,"Abbeville,SC"
1,Acadia,LA,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,32174.0,2.4,77.5,17.6,0.1,0.1,0.0,45197.0,"Acadia,LA"
2,Accomack,VA,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,16761.0,8.8,60.3,28.3,0.3,0.7,0.0,24408.0,"Accomack,VA"
3,Ada,ID,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,217118.0,7.9,85.2,1.2,0.4,2.6,0.1,316189.0,"Ada,ID"
4,Adair,IA,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,3640.0,1.7,96.6,0.3,0.0,0.4,0.0,5572.0,"Adair,IA"

In [21]:
cleaner_df['hispanic_pop'] = cleaner_df['TotalPop']/cleaner_df['Hispanic']

cleaner_df['white_pop'] = cleaner_df['TotalPop']/cleaner_df['White']

cleaner_df['black_pop'] = cleaner_df['TotalPop']/cleaner_df['Black']

cleaner_df['native_pop'] = cleaner_df['TotalPop']/cleaner_df['Native']

cleaner_df['asian_pop'] = cleaner_df['TotalPop']/cleaner_df['Asian']

cleaner_df['pacific_pop'] = cleaner_df['TotalPop']/cleaner_df['Pacific']

In [24]:
#add columns to calculate cases and deaths per 100K
cleaner_df["cases_per_100k"]= (cleaner_df["cases"]/cleaner_df["TotalPop"])*100000
cleaner_df["deaths_per_100k"]= (cleaner_df["deaths"]/cleaner_df["TotalPop"])*100000
cleaner_df.head()

,county,state,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,...,VotingAgeCitizen,county_st,hispanic_pop,white_pop,black_pop,native_pop,asian_pop,pacific_pop,cases_per_100k,deaths_per_100k
0,Abbeville,SC,12433.0,8215.0,4101.0,805.0,17.0,24788.0,12044.0,12744.0,...,19452.0,"Abbeville,SC",19067.692308,359.767779,898.115942,2.478800e+05,82626.666667,inf,3247.539132,68.581572
1,Acadia,LA,28425.0,22596.0,5443.0,3182.0,102.0,62607.0,30433.0,32174.0,...,45197.0,"Acadia,LA",26086.250000,807.832258,3557.215909,6.260700e+05,626070.000000,inf,5082.498762,162.921079
2,Accomack,VA,16938.0,9172.0,7578.0,1227.0,19.0,32840.0,16079.0,16761.0,...,24408.0,"Accomack,VA",3731.818182,544.610282,1160.424028,1.094667e+05,46914.285714,inf,3736.297199,57.856273
3,Ada,ID,259389.0,130699.0,120539.0,17451.0,181.0,435117.0,217999.0,217118.0,...,316189.0,"Ada,ID",55078.101266,5107.007042,362597.500000,1.087792e+06,167352.692308,4351170.0,4010.645413,41.598007
4,Adair,IA,4183.0,2917.0,1197.0,222.0,1.0,7192.0,3552.0,3640.0,...,5572.0,"Adair,IA",4230.588235,74.451346,23973.333333,inf,17980.000000,inf,3086.763070,13.904338

In [25]:
cleaner_df.columns = map(str.lower, cleaner_df.columns)
cleaner_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4867 entries, 0 to 4866
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   county                4867 non-null   object
 1   state                 4867 non-null   object
 2   total_votes20         4633 non-null   float64
 3   votes20_donald_trump  4633 non-null   float64
 4   votes20_joe_biden     4633 non-null   float64
 5   cases                 3252 non-null   float64
 6   deaths                3252 non-null   float64
 7   totalpop              3142 non-null   float64
 8   men                   3142 non-null   float64
 9   women                 3142 non-null   float64
 10  hispanic              3142 non-null   float64
 11  white                 3142 non-null   float64
 12  black                 3142 non-null   float64
 13  native                3142 non-null   float64
 14  asian                 3142 non-null   float64
 15  pacific               3142 non-null   float64
 16  votingagecitizen      3142 non-null   float64
 17  county_st             4867 non-null   object
 18  hispanic_pop          3142 non-null   float64
 19  white_pop             3142 non-null   float64
 20  black_pop             3142 non-null   float64
 21  native_pop            3142 non-null   float64
 22  asian_pop             3142 non-null   float64
 23  pacific_pop           3142 non-null   float64
 24  cases_per_100k        3072 non-null   float64
 25  deaths_per_100k       3072 non-null   float64
dtypes: float64(23), object(3)
memory usage: 988.7+ KB