In [21]:
import pandas as pd
import csv

In [22]:
county_df = pd.read_csv("Raw Data/county_statistics.csv", encoding="utf-8")
county_df.head()

,Unnamed: 0,county,state,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,0,Abbeville,SC,0.629,0.346,10724.0,6742.0,3712.0,0.661,0.330,...,1.8,1.8,6.5,25.8,9505.0,78.8,13.3,7.8,0.1,9.4
1,1,Acadia,LA,0.773,0.206,27386.0,21159.0,5638.0,0.795,0.191,...,1.6,2.2,2.5,27.6,24982.0,80.0,12.1,7.6,0.3,8.9
2,2,Accomack,VA,0.545,0.428,15755.0,8582.0,6737.0,0.542,0.447,...,2.6,1.8,4.5,22.0,13837.0,74.6,18.1,7.1,0.2,5.4
3,3,Ada,ID,0.479,0.387,195587.0,93748.0,75676.0,0.504,0.465,...,1.5,2.8,6.9,20.4,214984.0,78.3,15.0,6.6,0.1,4.3
4,4,Adair,IA,0.653,0.300,3759.0,2456.0,1127.0,0.697,0.286,...,2.8,0.4,6.2,22.3,3680.0,73.8,15.3,10.4,0.5,3.0

In [23]:
state_df = county_df.groupby(['state']).sum()
state_df.head()

,Unnamed: 0,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,total_votes20,votes20_Donald_Trump,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
state,,,,,,,,,,,,,,,,,,,,,
AK,428385,0.000,0.000,0.0,0.0,0.0,22.411,15.939,260983.0,148624.0,...,716.2,282.5,158.2,324.8,354045.0,1729.3,952.2,209.4,8.6,280.0
AL,99827,43.155,22.639,2078165.0,1306925.0,718084.0,43.410,22.924,2309900.0,1434159.0,...,80.7,76.4,169.4,1754.7,2055509.0,5237.5,1075.3,373.4,14.1,604.6
AR,124123,48.618,22.801,1121684.0,677904.0,378729.0,51.710,21.084,1209372.0,757052.0,...,147.8,102.1,243.8,1726.0,1276536.0,5642.5,1288.9,553.2,15.2,546.9
AZ,34260,7.921,6.288,2062810.0,1021154.0,936250.0,8.227,6.547,3366867.0,1651812.0,...,49.8,32.8,75.5,325.5,2953891.0,1080.0,327.7,89.3,2.7,146.5
CA,120576,25.359,29.167,9631972.0,3184721.0,5931283.0,25.089,31.595,16092730.0,5416035.0,...,193.5,151.0,386.8,1480.6,17993915.0,4126.6,1095.1,554.9,23.5,479.4

In [24]:
cleaner_df = state_df.drop(['percentage16_Donald_Trump', 'percentage16_Hillary_Clinton', 'total_votes16', 'votes16_Donald_Trump', 'votes16_Hillary_Clinton', 'percentage20_Donald_Trump', 'percentage20_Joe_Biden', 'Unemployment', 'FamilyWork', 'SelfEmployed', 'PublicWork', 'PrivateWork', 'Employed', 'MeanCommute', 'WorkAtHome', 'OtherTransp', 'Walk', 'Poverty', 'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction', 'Production', 'Drive', 'Carpool', 'Transit', 'lat', 'long', 'IncomePerCapErr', 'IncomePerCap', 'Income', 'IncomeErr', 'Unnamed: 0'], axis=1)
cleaner_df.head()

,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,Hispanic,White,Black,Native,Asian,Pacific,VotingAgeCitizen
state,,,,,,,,,,,,,,,
AK,260983.0,148624.0,102080.0,16705.0,83.0,738565.0,386319.0,352246.0,147.7,1404.2,34.2,917.2,173.5,15.8,530553.0
AL,2309900.0,1434159.0,843473.0,193985.0,2973.0,4850771.0,2350806.0,2499965.0,221.0,4366.3,1921.1,40.7,47.7,1.2,3651914.0
AR,1209372.0,757052.0,418051.0,113057.0,1958.0,2977944.0,1461651.0,1516293.0,381.8,5672.6,1209.9,40.5,51.9,5.8,2183895.0
AZ,3366867.0,1651812.0,1663447.0,247473.0,5979.0,6809946.0,3385055.0,3424891.0,463.3,762.4,27.2,198.5,19.4,1.9,4690177.0
CA,16092730.0,5416035.0,10339137.0,935878.0,17671.0,38982847.0,19366579.0,19616268.0,1744.1,3176.2,170.8,95.7,410.1,16.9,24970109.0

In [25]:
cleaner_df['Men %'] = cleaner_df['Men']/cleaner_df['TotalPop']
cleaner_df['Women %'] = cleaner_df['Women']/cleaner_df['TotalPop']

cleaner_df['All Races'] = cleaner_df['Hispanic'] + cleaner_df['White'] + cleaner_df['Black'] + cleaner_df['Native'] + cleaner_df['Asian'] + cleaner_df['Pacific']

cleaner_df['Hispanic %'] = cleaner_df['Hispanic']/cleaner_df['All Races']

cleaner_df['White %'] = cleaner_df['White']/cleaner_df['All Races']

cleaner_df['Black %'] = cleaner_df['Black']/cleaner_df['All Races']

cleaner_df['Native %'] = cleaner_df['Native']/cleaner_df['All Races']

cleaner_df['Asian %'] = cleaner_df['Asian']/cleaner_df['All Races']

cleaner_df['Pacific %'] = cleaner_df['Pacific']/cleaner_df['All Races']

cleaner_df.head()

,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,Men,Women,Hispanic,White,...,VotingAgeCitizen,Men %,Women %,All Races,Hispanic %,White %,Black %,Native %,Asian %,Pacific %
state,,,,,,,,,,,,,,,,,,,,,
AK,260983.0,148624.0,102080.0,16705.0,83.0,738565.0,386319.0,352246.0,147.7,1404.2,...,530553.0,0.523067,0.476933,2692.6,0.054854,0.521503,0.012701,0.340637,0.064436,0.005868
AL,2309900.0,1434159.0,843473.0,193985.0,2973.0,4850771.0,2350806.0,2499965.0,221.0,4366.3,...,3651914.0,0.484625,0.515375,6598.0,0.033495,0.661761,0.291164,0.006169,0.007229,0.000182
AR,1209372.0,757052.0,418051.0,113057.0,1958.0,2977944.0,1461651.0,1516293.0,381.8,5672.6,...,2183895.0,0.490826,0.509174,7362.5,0.051857,0.770472,0.164333,0.005501,0.007049,0.000788
AZ,3366867.0,1651812.0,1663447.0,247473.0,5979.0,6809946.0,3385055.0,3424891.0,463.3,762.4,...,4690177.0,0.497075,0.502925,1472.7,0.314592,0.517689,0.018469,0.134786,0.013173,0.001290
CA,16092730.0,5416035.0,10339137.0,935878.0,17671.0,38982847.0,19366579.0,19616268.0,1744.1,3176.2,...,24970109.0,0.496797,0.503203,5613.8,0.310681,0.565784,0.030425,0.017047,0.073052,0.003010

In [26]:
reallyclean_df = cleaner_df.drop(['Hispanic','White','Black','Native','Asian','Pacific', 'Men', 'Women', 'All Races'], axis=1)
reallyclean_df.head()

,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,VotingAgeCitizen,Men %,Women %,Hispanic %,White %,Black %,Native %,Asian %,Pacific %
state,,,,,,,,,,,,,,,
AK,260983.0,148624.0,102080.0,16705.0,83.0,738565.0,530553.0,0.523067,0.476933,0.054854,0.521503,0.012701,0.340637,0.064436,0.005868
AL,2309900.0,1434159.0,843473.0,193985.0,2973.0,4850771.0,3651914.0,0.484625,0.515375,0.033495,0.661761,0.291164,0.006169,0.007229,0.000182
AR,1209372.0,757052.0,418051.0,113057.0,1958.0,2977944.0,2183895.0,0.490826,0.509174,0.051857,0.770472,0.164333,0.005501,0.007049,0.000788
AZ,3366867.0,1651812.0,1663447.0,247473.0,5979.0,6809946.0,4690177.0,0.497075,0.502925,0.314592,0.517689,0.018469,0.134786,0.013173,0.001290
CA,16092730.0,5416035.0,10339137.0,935878.0,17671.0,38982847.0,24970109.0,0.496797,0.503203,0.310681,0.565784,0.030425,0.017047,0.073052,0.003010

In [27]:
reallyclean_df['Biden %'] = reallyclean_df['votes20_Joe_Biden']/reallyclean_df['total_votes20']
reallyclean_df['Trump %'] = reallyclean_df['votes20_Donald_Trump']/reallyclean_df['total_votes20']

In [28]:
reallyclean_df['Republican'] = reallyclean_df['votes20_Donald_Trump'].gt(reallyclean_df['votes20_Joe_Biden'])
reallyclean_df['Democrat'] = reallyclean_df['votes20_Donald_Trump'].lt(reallyclean_df['votes20_Joe_Biden'])
reallyclean_df.head()

,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,VotingAgeCitizen,Men %,Women %,Hispanic %,White %,Black %,Native %,Asian %,Pacific %,Biden %,Trump %,Republican,Democrat
state,,,,,,,,,,,,,,,,,,,
AK,260983.0,148624.0,102080.0,16705.0,83.0,738565.0,530553.0,0.523067,0.476933,0.054854,0.521503,0.012701,0.340637,0.064436,0.005868,0.391137,0.569478,True,False
AL,2309900.0,1434159.0,843473.0,193985.0,2973.0,4850771.0,3651914.0,0.484625,0.515375,0.033495,0.661761,0.291164,0.006169,0.007229,0.000182,0.365156,0.620875,True,False
AR,1209372.0,757052.0,418051.0,113057.0,1958.0,2977944.0,2183895.0,0.490826,0.509174,0.051857,0.770472,0.164333,0.005501,0.007049,0.000788,0.345676,0.625988,True,False
AZ,3366867.0,1651812.0,1663447.0,247473.0,5979.0,6809946.0,4690177.0,0.497075,0.502925,0.314592,0.517689,0.018469,0.134786,0.013173,0.001290,0.494064,0.490608,False,True
CA,16092730.0,5416035.0,10339137.0,935878.0,17671.0,38982847.0,24970109.0,0.496797,0.503203,0.310681,0.565784,0.030425,0.017047,0.073052,0.003010,0.642473,0.336552,False,True

In [29]:
reallyclean_df.to_csv('state_data.csv')