In [15]:
import pandas as pd
import csv
import geopandas as gpd

In [16]:
stategeo_df = gpd.read_file("Raw Data/US-States1.json")
stategeo_df.head()

,GEO_ID,STATE,NAME,LSAD,CENSUSAREA,geometry
0,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ..."
1,0400000US25,25,Massachusetts,,7800.058,"MULTIPOLYGON (((-70.83204 41.60650, -70.82373 ..."
2,0400000US26,26,Michigan,,56538.901,"MULTIPOLYGON (((-88.68443 48.11579, -88.67563 ..."
3,0400000US30,30,Montana,,145545.801,"POLYGON ((-104.05770 44.99743, -104.25015 44.9..."
4,0400000US32,32,Nevada,,109781.180,"POLYGON ((-114.05060 37.00040, -114.04999 36.9..."

In [17]:
state_df = pd.read_csv("Raw Data/state_data.csv", encoding="utf-8")
state_df.head()

,state,name,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,VotingAgeCitizen,Men %,...,Hispanic %,White %,Black %,Native %,Asian %,Pacific %,Biden %,Trump %,Republican,Democrat
0,AK,Alaska,260983,148624,102080,16705,83,738565,530553,0.523067,...,0.054854,0.521503,0.012701,0.340637,0.064436,0.005868,0.391137,0.569478,True,False
1,AL,Alabama,2309900,1434159,843473,193985,2973,4850771,3651914,0.484625,...,0.033495,0.661761,0.291164,0.006169,0.007229,0.000182,0.365156,0.620875,True,False
2,AR,Arkansas,1209372,757052,418051,113057,1958,2977944,2183895,0.490826,...,0.051857,0.770472,0.164333,0.005501,0.007049,0.000788,0.345676,0.625988,True,False
3,AZ,Arizona,3366867,1651812,1663447,247473,5979,6809946,4690177,0.497075,...,0.314592,0.517689,0.018469,0.134786,0.013173,0.001290,0.494064,0.490608,False,True
4,CA,California,16092730,5416035,10339137,935878,17671,38982847,24970109,0.496797,...,0.310681,0.565784,0.030425,0.017047,0.073052,0.003010,0.642473,0.336552,False,True