In [58]:
import pandas as pd
import csv
import geopandas as gpd

In [59]:
stategeo_df = gpd.read_file("Raw Data/US-States1.json")
stategeo_df.head()

,GEO_ID,STATE,NAME,LSAD,CENSUSAREA,geometry
0,0400000US23,23,Maine,,30842.923,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ..."
1,0400000US25,25,Massachusetts,,7800.058,"MULTIPOLYGON (((-70.83204 41.60650, -70.82373 ..."
2,0400000US26,26,Michigan,,56538.901,"MULTIPOLYGON (((-88.68443 48.11579, -88.67563 ..."
3,0400000US30,30,Montana,,145545.801,"POLYGON ((-104.05770 44.99743, -104.25015 44.9..."
4,0400000US32,32,Nevada,,109781.180,"POLYGON ((-114.05060 37.00040, -114.04999 36.9..."

In [60]:
state_df = pd.read_csv("Raw Data/state_data.csv", encoding="utf-8")
state_df.head()

,state,NAME,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,VotingAgeCitizen,Men %,...,Hispanic %,White %,Black %,Native %,Asian %,Pacific %,Biden %,Trump %,Republican,Democrat
0,AK,Alaska,260983,148624,102080,16705,83,738565,530553,0.523067,...,0.054854,0.521503,0.012701,0.340637,0.064436,0.005868,0.391137,0.569478,True,False
1,AL,Alabama,2309900,1434159,843473,193985,2973,4850771,3651914,0.484625,...,0.033495,0.661761,0.291164,0.006169,0.007229,0.000182,0.365156,0.620875,True,False
2,AR,Arkansas,1209372,757052,418051,113057,1958,2977944,2183895,0.490826,...,0.051857,0.770472,0.164333,0.005501,0.007049,0.000788,0.345676,0.625988,True,False
3,AZ,Arizona,3366867,1651812,1663447,247473,5979,6809946,4690177,0.497075,...,0.314592,0.517689,0.018469,0.134786,0.013173,0.001290,0.494064,0.490608,False,True
4,CA,California,16092730,5416035,10339137,935878,17671,38982847,24970109,0.496797,...,0.310681,0.565784,0.030425,0.017047,0.073052,0.003010,0.642473,0.336552,False,True

In [61]:
state_df['hispanic_pop'] = state_df['TotalPop']*state_df['Hispanic %']

state_df['white_pop'] = state_df['TotalPop']*state_df['White %']

state_df['black_pop'] = state_df['TotalPop']*state_df['Black %']

state_df['native_pop'] = state_df['TotalPop']*state_df['Native %']

state_df['asian_pop'] = state_df['TotalPop']*state_df['Asian %']

state_df['pacific_pop'] = state_df['TotalPop']*state_df['Pacific %']

In [62]:
merged_df = pd.merge(stategeo_df, state_df, on="NAME")
clean_state_df = merged_df.drop(['CENSUSAREA', 'LSAD', 'STATE'],axis=1)

clean_state_df["cases_per_100k"]= (clean_state_df["cases"]/clean_state_df["TotalPop"])*100000
clean_state_df["deaths_per_100k"]= (clean_state_df["deaths"]/clean_state_df["TotalPop"])*100000

clean_state_df.head()

,GEO_ID,NAME,geometry,state,total_votes20,votes20_Donald_Trump,votes20_Joe_Biden,cases,deaths,TotalPop,...,Republican,Democrat,hispanic_pop,white_pop,black_pop,native_pop,asian_pop,pacific_pop,cases_per_100k,deaths_per_100k
0,0400000US23,Maine,"MULTIPOLYGON (((-67.61976 44.51975, -67.61541 ...",ME,786337,341949,420357,6711,147,1330158,...,False,True,19145.058535,1.279415e+06,10504.368129,10419.655687,10504.368129,169.424885,504.526530,11.051319
1,0400000US25,Massachusetts,"MULTIPOLYGON (((-70.83204 41.60650, -70.82373 ...",MA,3482216,1131042,2271763,159707,10013,6789319,...,False,True,630365.239780,5.455488e+06,399548.422271,20027.493020,282387.602021,1502.062146,2352.327236,147.481655
2,0400000US26,Michigan,"MULTIPOLYGON (((-88.68443 48.11579, -88.67563 ...",MI,5531329,2647004,2795649,197406,7699,9925568,...,False,True,351494.834374,8.949166e+06,393595.887871,128261.346027,101336.257713,1713.411102,1988.863509,77.567349
3,0400000US30,Montana,"POLYGON ((-104.05770 44.99743, -104.25015 44.9...",MT,602781,341765,243716,33495,376,1029862,...,True,False,30486.062462,9.100953e+05,2327.753824,81715.412744,4918.318133,319.127457,3252.377503,36.509746
4,0400000US32,Nevada,"POLYGON ((-114.05060 37.00040, -114.04999 36.9...",NV,1337217,635017,671887,101477,1781,2887725,...,False,True,510751.721497,2.132180e+06,64537.921962,113808.808590,59853.717250,6592.583768,3514.081154,61.674848

In [68]:
clean_state_df.columns = map(str.lower, clean_state_df.columns)
clean_state_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 50 entries, 0 to 49
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   geo_id                50 non-null     object
 1   name                  50 non-null     object
 2   geometry              50 non-null     geometry
 3   state                 50 non-null     object
 4   total_votes20         50 non-null     int64
 5   votes20_donald_trump  50 non-null     int64
 6   votes20_joe_biden     50 non-null     int64
 7   cases                 50 non-null     int64
 8   deaths                50 non-null     int64
 9   totalpop              50 non-null     int64
 10  votingagecitizen      50 non-null     int64
 11  men %                 50 non-null     float64
 12  women %               50 non-null     float64
 13  hispanic %            50 non-null     float64
 14  white %               50 non-null     float64
 15  black %               50 non-null     float64
 16  native %              50 non-null     float64
 17  asian %               50 non-null     float64
 18  pacific %             50 non-null     float64
 19  biden %               50 non-null     float64
 20  trump %               50 non-null     float64
 21  republican            50 non-null     bool
 22  democrat              50 non-null     bool
 23  hispanic_pop          50 non-null     float64
 24  white_pop             50 non-null     float64
 25  black_pop             50 non-null     float64
 26  native_pop            50 non-null     float64
 27  asian_pop             50 non-null     float64
 28  pacific_pop           50 non-null     float64
 29  cases_per_100k        50 non-null     float64
 30  deaths_per_100k       50 non-null     float64
dtypes: bool(2), float64(18), geometry(1), int64(7), object(3)
memory usage: 11.8+ KB